.bg{
    background-image: url(../Image_Blizzard/bg-diablo4_1920.jpg);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
    
}
header{
    height: 9.6rem;
    border-bottom:1px solid rgba($color: white, $alpha: 0.1);
   
    
    .container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        .logo-nav{
            display: flex;
            align-items: center;
            gap: 11.23rem;
            .logo{
                width: 11.5rem;
            }
        }
        
        nav{
            gap: 3.4rem;
            display: flex;
            a{
                gap: 1.4rem;
                img{
                    display: flex;
                    align-self: center;
                    height: fit-content;
                    
                  
                }
            }
        }
        ul{
            
            gap: 1.6rem;
            display: flex;
            img{
                width: 100%;
                height: 100%;
                padding-right: 0.631rem;
            }
            #conta{
                background: none;
                border: white 1px solid;
                span{
                    background: none;
                }
                &:hover{
                    background-color: white;
                    span{
                        color: black;  
                    }
                    
                }
            }
        }
    }
}

#s-main{
    
    height: 64rem;
    .container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        .d-left-mid{
            
            display: flex;
            gap: 17.4rem;
            .d-left{
                display: flex;
                ul{
                    gap: 2rem;
                    display: flex;
                    flex-direction: column;
                    justify-content:flex-end ;
                }
            }
            .d-mid{
                max-width:56.2rem;
                padding-bottom: 1.4rem;
                p{
                    padding-top: 1.6rem;
                    padding-bottom: 3.2rem;
                    font-weight: 400;
                    font-size: 1.8rem;
                    line-height: 2.7rem;
                   
    
                    letter-spacing: -0.005em;
                }
                a{
                    padding: 14px 32px;
                    
                }
        }
        }
        .d-right{
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            .trailer{
                display: flex;
                flex-direction: column;
                gap: 1.6rem;
                
            span{
                text-transform: uppercase;
                font-weight: 600;
                font-size: 1.3rem;
                line-height: 2rem;
                text-align: end;
            }
            .trailer-thumb{
                display: flex;
                flex-direction: row-reverse;
            button{
                
                background: none;
                border: none;
                position: relative;
                left: 16.6rem;
                

            }
        }
        }
        }
    }
}

#s-jogos{
    #titulo-cards{
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        padding-top: 8.5rem;
        padding-bottom: 8.2rem;
        .t-cards-left{
            display: flex;
            width: 57.5%;
            justify-content: space-between;
            span{
                font-weight: 600;
                font-size: 1.5rem;
                line-height: 2.2rem;
                color: #8F9199;
                align-self: start;
            }
            h2{
                max-width: 17.5rem;
            }
            ul{
                display: flex;
                gap: 2.4rem;
                align-self: flex-end;
            }
        }
        
        .ver_todos{
            display: flex;
            gap: 1rem;
            font-weight: 600;
            font-size: 1.6rem;
            line-height: 2.4rem;
            
            color: #00AEFF;


        }
    }

    .cards{
        
        display: grid;
        grid-template-areas: 'card-games card-games card-games card-games';
        gap: 2.8rem;
        padding-bottom: calc(10.7rem - 3.7rem);
        
    }
}

#s-download{
    .container{
        display: flex;
        
        .left{
            display: flex;
            flex-direction: column;
            
            img{
                width: fit-content;
            }
            ul{
                li{
                    display: flex;
                }
            }
        }
        .floats{
            width: 100%;
            display: flex;
            position: relative;
            justify-content: flex-end;
            flex-wrap: wrap;
            img{
                width: 100%;
                
                position: relative;
                overflow: hidden;
            }
            .float-2{
                align-self: flex-end;
                overflow: hidden;
                position: relative;
            }
        }
    }
}