* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: white;
}

html {
  font-size: 62.5%;
}

body {
  background-color: black;
}

.container {
  width: 100%;
  height: 100%;
  max-width: 133rem;
  padding: 0 1.5rem;
  margin: 0 auto;
}

img {
  display: block;
}

h1 {
  font-weight: 700;
  font-size: 6.4rem;
  line-height: 110.2%;
}

h2 {
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 110.2%;
}

h3 {
  font-weight: 600;
  font-size: 1.935rem;
  line-height: 2.9rem;
}

a {
  display: flex;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 2.1rem;
}

.botao {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 1rem 3.2rem;
  background: #00AEFF;
  border: 0rem;
  border-radius: 0.4rem;
  display: flex;
  transition: 0.3s;
}
.botao:hover {
  transition: 0.4s;
  background-color: #40C2FF;
}

.card-games {
  width: 100%;
  max-width: 30.1rem;
  padding-bottom: 3.7rem;
}
.card-games .game-info {
  display: flex;
  flex-direction: column;
}
.card-games .game-info h3 {
  padding-top: 2.5rem;
  padding-bottom: 0.43rem;
}
.card-games .game-info p {
  font-weight: 400;
  font-size: 1.505rem;
  line-height: 2.3rem;
  color: #E5E5E5;
  opacity: 0.8;
}
.card-games .imagem {
  overflow: hidden;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  max-width: 30.1rem;
  max-height: 41.28rem;
  min-width: 30.1rem;
}
.card-games .imagem img {
  transition: 0.3s ease-in;
  width: 100%;
  height: 100%;
}
.card-games .last-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 30.1rem;
  height: 41.28rem;
  gap: 3.6rem;
  border: 1.6125px solid #212428;
  border-radius: 4.3px;
}
.card-games .last-card img {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
}
.card-games .last-card .ver_todos_last_card {
  display: flex;
  gap: 1.4rem;
}
.card-games .last-card .ver_todos_last_card img {
  align-self: center;
}
.card-games .last-card .ver_todos_last_card span {
  font-weight: 600;
  font-size: 1.72rem;
  line-height: 2.6rem;
}
.card-games:hover .imagem img {
  transform: scale(1.1);
  transition: 0.3s ease-in;
}

.bg {
  background-image: url(../Image_Blizzard/bg-diablo4_1920.jpg);
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
}

header {
  height: 9.6rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .container .logo-nav {
  display: flex;
  align-items: center;
  gap: 11.23rem;
}
header .container .logo-nav .logo {
  width: 11.5rem;
}
header .container nav {
  gap: 3.4rem;
  display: flex;
}
header .container nav a {
  gap: 1.4rem;
}
header .container nav a img {
  display: flex;
  align-self: center;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
header .container ul {
  gap: 1.6rem;
  display: flex;
}
header .container ul img {
  width: 100%;
  height: 100%;
  padding-right: 0.631rem;
}
header .container ul #conta {
  background: none;
  border: white 1px solid;
}
header .container ul #conta span {
  background: none;
}
header .container ul #conta:hover {
  background-color: white;
}
header .container ul #conta:hover span {
  color: black;
}

#s-main {
  height: 64rem;
}
#s-main .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#s-main .container .d-left-mid {
  display: flex;
  gap: 17.4rem;
}
#s-main .container .d-left-mid .d-left {
  display: flex;
}
#s-main .container .d-left-mid .d-left ul {
  gap: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
#s-main .container .d-left-mid .d-mid {
  max-width: 56.2rem;
  padding-bottom: 1.4rem;
}
#s-main .container .d-left-mid .d-mid p {
  padding-top: 1.6rem;
  padding-bottom: 3.2rem;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.7rem;
  letter-spacing: -0.005em;
}
#s-main .container .d-left-mid .d-mid a {
  padding: 14px 32px;
}
#s-main .container .d-right {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
#s-main .container .d-right .trailer {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
#s-main .container .d-right .trailer span {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.3rem;
  line-height: 2rem;
  text-align: end;
}
#s-main .container .d-right .trailer .trailer-thumb {
  display: flex;
  flex-direction: row-reverse;
}
#s-main .container .d-right .trailer .trailer-thumb button {
  background: none;
  border: none;
  position: relative;
  left: 16.6rem;
}

#s-jogos #titulo-cards {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding-top: 8.5rem;
  padding-bottom: 8.2rem;
}
#s-jogos #titulo-cards .t-cards-left {
  display: flex;
  width: 57.5%;
  justify-content: space-between;
}
#s-jogos #titulo-cards .t-cards-left span {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 2.2rem;
  color: #8F9199;
  align-self: start;
}
#s-jogos #titulo-cards .t-cards-left h2 {
  max-width: 17.5rem;
}
#s-jogos #titulo-cards .t-cards-left ul {
  display: flex;
  gap: 2.4rem;
  align-self: flex-end;
}
#s-jogos #titulo-cards .ver_todos {
  display: flex;
  gap: 1rem;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: #00AEFF;
}
#s-jogos .cards {
  display: grid;
  grid-template-areas: "card-games card-games card-games card-games";
  gap: 2.8rem;
  padding-bottom: 7rem;
}

#s-download .container {
  display: flex;
}
#s-download .container .left {
  display: flex;
  flex-direction: column;
}
#s-download .container .left img {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
#s-download .container .left ul li {
  display: flex;
}
#s-download .container .floats {
  width: 100%;
  display: flex;
  position: relative;
  justify-content: flex-end;
  flex-wrap: wrap;
}
#s-download .container .floats img {
  width: 100%;
  position: relative;
  overflow: hidden;
}
#s-download .container .floats .float-2 {
  align-self: flex-end;
  overflow: hidden;
  position: relative;
}/*# sourceMappingURL=main.css.map */